user {{ nginx_conf_main_user }};
worker_processes {{ nginx_conf_main_worker_processes }};

error_log  {{ nginx_conf_main_error_log }};
pid        {{ nginx_conf_main_pidfile }};
worker_rlimit_nofile {{ nginx_conf_main_worker_rlimit_nofile }};

{% for param in nginx_conf_main_extra_params %}
{{ param }};
{% endfor %}

events {
  worker_connections  {{ nginx_conf_events_worker_connections }};
  use {{ nginx_conf_events_use }};

{% for param in nginx_conf_events_extra_params %}
  {{ param }};
{% endfor %}
}

http {
  include    {{ nginx_conf_dir }}/mime.types;
  index      index.html;
  default_type application/octet-stream;

  log_format   {{ nginx_conf_http_log_format }};
  access_log   {{ nginx_conf_http_access_log }};

  sendfile     {{ nginx_conf_http_sendfile }};
  tcp_nopush   {{ nginx_conf_http_tcp_nopush }};
  tcp_nodelay  {{ nginx_conf_http_tcp_nodelay }};

  keepalive_timeout  {{ nginx_conf_http_keepalive_timeout }};
  keepalive_requests {{ nginx_conf_http_keepalive_requests }};

{% for param in nginx_conf_http_extra_params %}
  {{ param }};
{% endfor %}

{% for server in nginx_conf_http_servers %}
  {{ server }}
{% endfor %}
}

stream {
{% for param in nginx_conf_stream_extra_params %}
  {{ param }};
{% endfor %}

{% for server in nginx_conf_stream_servers %}
  {{ server }}
{% endfor %}
}
